<template>
  <div class="form-group m-form__group">
    <label>
      {{ label }}
    </label>
    <slot></slot>
    <transition name="fade">
      <span 
        v-if="validation" 
        class="m-form__help c-form-status text-danger" 
        style="display:block; margin-left:4px">{{ validation }}</span>
    </transition>
  </div>
</template>

<script>
export default {
  props: {
    label: {
      default: '',
      type: String
    },
    validation: {
      default: '',
      type: String
    }
  }
}
</script>

