<template>
  <select
    class="form-control m-select2">
    <option></option>
  </select>
</template>

<script>
export default {
  props: {
    value: {
      default: null,
      type: [Number, String]
    },
    element: {
      default: 'select-two',
      type: String
    },
    dropdownParent: {
      default: null,
      type: String
    },
    placeholder: {
      default: 'Select a value',
      type: String
    },
    data: {
      default(){[]},
      type: Array
    },
    addText: {
      default: '',
      type: String
    }
  },
  data(){
    return {
      newOption: ''
    }
  },
  watch:{
    value() {
      this.initSelect();
    },
    data(){
      this.initSelect();
    }
  },
  mounted(){
    const vm = this;
    vm.initSelect();
    window.$(document).on('click', '.add-new-option', function(e){
      e.preventDefault();
      vm.$emit('newoption', vm.newOption);
      window.$(vm.$el).select2('close');
    });
  },
  destroyed: function () {
    window.$(this.$el).off().select2('destroy');
  },
  methods:{
    initSelect(){
      const vm = this;
      const options = {
        placeholder: this.placeholder,
        width: '100%',
        data: vm.data,
        language: {
          noResults: function() {
            vm.newOption = event.target.value;
            return `<a href='#' class='add-new-option'><i class='fa fa-plus'></i> Tambahkan '${event.target.value}' ${vm.addText}</a>`;
          }
        },
        escapeMarkup: function(markup) {
          return markup;
        }
      }
      if (this.dropdownParent) {
        options.dropdownParent = window.$(this.dropdownParent);
      }
      window.$(this.$el)
        .select2(options)
        .val(this.value)
        .trigger('change')
        .on('change', function(){
          vm.$emit('input', this.value);
        });
    },
    updateSelect(){
      const vm = this;
      const options = {
        placeholder: this.placeholder,
        width: '100%',
        data: vm.data,
        language: {
          noResults: function() {
            vm.newOption = event.target.value;
            return `<a href='#' class='add-new-option'><i class='fa fa-plus'></i> Tambahkan '${event.target.value}' ${vm.addText}</a>`;
          }
        },
        escapeMarkup: function(markup) {
          return markup;
        }
      }
      if (this.dropdownParent) {
        options.dropdownParent = window.$(this.dropdownParent);
      }
      window.$(this.$el)
        .empty()
        .select2(options)
    }
  }
}
</script>

