<template>
  <div class="m-grid__item m-grid__item--fluid m-wrapper">

    <sub-header
      :header-title="'Kas'"
      :breadcumbs="breadcumbs">
    </sub-header>

    <sub-content>
      <div class="row">
        <div class="col-md-4">
          <div 
            class="m-portlet m-portlet--bordered-semi m-portlet--half-height m-portlet--fit " 
            style="min-height: 105px">
            <div class="m-portlet__head">
              <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                  <h3 class="m-portlet__head-text">
                    Total
                  </h3>
                </div>
              </div>
            </div>
            <div class="m-portlet__body">
              <!--begin::Widget5-->
              <div class="m-widget20">
                <div 
                  class="m-widget20__number m--font-brand" 
                  style="padding-bottom:15px">
                  {{ total }}
                </div>
              </div>
              <!--end::Widget 5-->
            </div>
          </div>
        </div>
      </div>
      <base-portlet :portlet-title="'Kas'">
        <local-table
          :options="tableOptions"
          @create="createCash"
          @edit="editCash"></local-table>
      </base-portlet>
    </sub-content>
    
    <base-modal 
      :title="'Kas'"
      class="modalwidth">
      <template slot="body">
        <form class="m-form m-form--fit m-form--label-align-right">
          <div class="m-portlet__body">
            <form-group 
              :label="'Nama'"
              :validation="validation.name[0]">
              <input
                v-model="cash.name"
                class="form-control m-input"
                type="text"
                placeholder="Nama Kas">
            </form-group>
            <form-group 
              :label="'Jumlah'"
              :validation="validation.ammount[0]">
              <input
                v-model="cashHolder"
                class="form-control m-input"
                type="text"
                placeholder="Nama Kas"
                @blur="cashInputActive = false"
                @focus="cashInputActive = true">
            </form-group>
          </div>
        </form>
      </template>

      <template slot="footer">
        <button 
          type="button" 
          class="btn btn-secondary" 
          data-dismiss="modal">
          Batal
        </button>
        <button
          type="submit" 
          class="btn btn-primary btn-submit"
          @click="submitCash">
          Simpan
        </button>
      </template>
    </base-modal>

  </div>
</template>

<script>
import axios from "axios";
import Accounting from "accounting";
import SubHeader from "../components/Content/SubHeader.vue";
import SubContent from "../components/Content/SubContent.vue";
import BasePortlet from "../components/Portlet/BasePortlet.vue";
import LocalTable from "../components/DataTable/LocalTable.vue";
import BaseModal from "../components/Modal/BaseModal.vue";
import FormGroup from "../components/FormGroup/FormGroup.vue";

export default {
  components: {
    subHeader: SubHeader,
    subContent: SubContent,
    basePortlet: BasePortlet,
    localTable: LocalTable,
    baseModal: BaseModal,
    formGroup: FormGroup,
  },
  data() {
    return {
      breadcumbs: [
        {
          name: "Pengaturan",
          link: "/pengaturan/kas"
        },
        {
          name: "Kas",
          link: "/pengaturan/kas"
        }
      ],
      tableOptions: {
        data: {
          type: "local",
          source: [],
        },
        search: {
          input: window.$("#generalSearch")
        },
        columns: [{
          field: "name",
          title: "Nama",
        }, {
          field: "ammount",
          title: "Total",
          template: (x) => {
            return `<span style="white-space:pre;font-family:monospace">${x.ammount}</span>`;
          }
        }, {
          field: "actions",
          textAlign: 'center',
          title: "#",
          overflow: 'visible',
          template: (x) => {
            return `
            <a data-action="${x.id}" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill action-edit" title="Edit"><i class="la la-edit"></i></a>
            <div class="dropdown">`;
          }
        }],
        actions: ['edit', 'delete']
      },
      cashes: [],
      newCash: true,
      cash: {
        name: '',
        ammount: 0
      },
      validation: {
        id: '',
        name: '',
        ammount: ''
      },
      cashInputActive: false,
      total: 0
    };
  },
  computed: {
    cashHolder: {
      get(){
        if (this.cashInputActive) {
          return this.cash.ammount;
        }

        if (!this.cashInputActive) {
          return Accounting.formatMoney(this.cash.ammount, "Rp ");
        }
      },
      set(val){
        this.cash.ammount = +val;
      }
    }
  },
  created(){
    this.fetchCash();
  },
  methods: {
    fetchCash(){
      axios
      .get('/api/pengaturan/kas')
      .then(({data}) => {
        this.total = Accounting.formatMoney(data.reduce( (carry, element) => carry + element.ammount, 0), 'Rp ');        
        const cashes = Accounting.formatColumn(data.map( x => x.ammount), 'Rp ');
        this.tableOptions.data.source = data.map( (x, key) => {
          if ( key in cashes) {
            x.ammount = cashes[key];
          }
          return x;
        });

      })
    },
    createCash(){
      this.clearCash();
      this.newCash = true;
      window.$('#modal').modal('show');
    },
    editCash(id){
      this.newCash = false;
      axios
      .get(`/api/pengaturan/kas/${id}`)
      .then(({data}) => {
        this.cash.id = data.id;
        this.cash.name = data.name;
        this.cash.ammount = data.ammount;
      })
      window.$('#modal').modal('show');
    },
    submitCash(){
      if (this.newCash) {
        this.storeCash();
      }
      if (!this.newCash) {
        this.updateCash();
      }
    },
    storeCash(){
      axios.post('/api/pengaturan/kas', this.cash)
      .then(() => {
        this.fetchCash();
        this.clearCash();
        window.$('#modal').modal('hide');
      })
      .catch(({response}) => {
        const err = response.data.errors;
        for (const key in err) {
          if (err.hasOwnProperty(key)) {
            const element = err[key];
            this.validation[key] = element;
          }
        }
      });
    },
    updateCash(){
      axios.put(`/api/pengaturan/kas/${this.cash.id}`, this.cash)
      .then(() => {
        this.fetchCash();
        this.clearCash();
        window.$('#modal').modal('hide');
      })
      .catch(({response}) => {
        const err = response.data.errors;
        for (const key in err) {
          if (err.hasOwnProperty(key)) {
            const element = err[key];
            this.validation[key] = element;
          }
        }
      });
    },
    deleteCash(id){
      axios
      .delete(`/api/pengaturan/kas/${id}`)
      .then(() => {
        this.fetchCash();
      });
    },
    clearCash(){
      this.cash.id = null;
      this.cash.name = null;
      this.cash.ammount = 0;
    }
  }
};
</script>

<style scoped>
  .m-widget20 .m-widget20__number {
      font-size: 1.5rem;
  }
</style>

