<template>
  <div class="m-grid__item m-grid__item--fluid m-wrapper">

    <sub-header
      :header-title="'Hutang'"
      :breadcumbs="breadcumbs">
    </sub-header>

    <sub-content>
      <div class="row">
        <div class="col-md-6">
          <div 
            class="m-portlet m-portlet--bordered-semi m-portlet--half-height m-portlet--fit " 
            style="min-height: 105px">
            <div class="m-portlet__head">
              <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                  <h3 class="m-portlet__head-text">
                    Jumlah Terhutang
                  </h3>
                </div>
              </div>
            </div>
            <div class="m-portlet__body">
              <!--begin::Widget5-->
              <div class="m-widget20">
                <div 
                  class="m-widget20__number m--font-brand" 
                  style="padding-bottom:15px">
                  {{ terhutang }}
                </div>
              </div>
              <!--end::Widget 5-->
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div 
            class="m-portlet m-portlet--bordered-semi m-portlet--half-height m-portlet--fit " 
            style="min-height: 105px">
            <div class="m-portlet__head">
              <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                  <h3 class="m-portlet__head-text">
                    Total Penghutang
                  </h3>
                </div>
              </div>
            </div>
            <div class="m-portlet__body">
              <!--begin::Widget5-->
              <div class="m-widget20">
                <div 
                  class="m-widget20__number m--font-danger" 
                  style="padding-bottom:15px">
                  {{ customers.length }}
                </div>
              </div>
              <!--end::Widget 5-->
            </div>
          </div>
        </div>
      </div>
      <base-portlet :portlet-title="'Daftar Hutang'">
        <data-table
          :table="tableData"
          @detail="detail">
        </data-table>
      </base-portlet>
    </sub-content>

    <base-modal 
      :title="'Detail Hutang'" 
      :class="'fullscreen'">
      <template slot="body">
        <form class="m-form m-form--fit m-form--label-align-right">
          <div class="m-portlet__body">
            <div class="form-group m-form__group">
              <label><strong>Pelanggan</strong></label>
              <p class="form-control-static">
                {{ customer.name }}
              </p>
            </div>
            <div 
              v-for="invoice in customer.invoices" 
              style="margin-bottom:24px">
              <div class="form-group m-form__group row">
                <div class="col-md-3">
                  <label>
                    <strong>Tanggal:</strong>
                  </label>
                  <p class="form-control-static">
                    {{ invoice.created_at.slice(0, 10) }}
                  </p>
                </div>
                <div class="col-md-3">
                  <label>
                    <strong>Total:</strong>
                  </label>
                  <p class="form-control-static">
                    {{ accounting(invoice.price) }}
                  </p>
                </div>
                <div class="col-md-3">
                  <label>
                    <strong>Dibayar:</strong>
                  </label>
                  <p class="form-control-static">
                    {{ accounting(invoice.payment) }}
                  </p>
                </div>
                <div class="col-md-3">
                  <label>
                    <strong>Sisa:</strong>
                  </label>
                  <p class="form-control-static">
                    {{ accounting(invoice.price - invoice.payment) }}
                  </p>
                </div>
                <div class="col-12">
                  <label>
                    Item:
                  </label>
                  <table class="table table-bordered table-hover">
                    <thead class="thead-default">
                      <tr>
                        <th>
                          Produk
                        </th>
                        <th>
                          Qty (Kg)
                        </th>
                        <th>
                          Harga
                        </th>
                        <th>
                          Total
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="item in invoice.items">
                        <td scope="row">
                          {{ item.stock.name }}
                        </td>
                        <td scope="row">
                          {{ item.qty }}
                        </td>
                        <td scope="row">
                          {{ accounting(item.rate) }}
                        </td>
                        <td scope="row">
                          {{ accounting(item.qty * item.rate) }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </form>
      </template>

      <template slot="footer">
        <button-cancel></button-cancel>
        <button
          type="submit" 
          class="btn btn-primary"
          @click="print">
          Print
        </button>
      </template>
    </base-modal>

  </div>
</template>

<script>
import axios from "axios";
import Accounting from "accounting";
import SubHeader from "../components/Content/SubHeader.vue";
import SubContent from "../components/Content/SubContent.vue";
import BasePortlet from "../components/Portlet/BasePortlet.vue";
import DataTable from "../components/DataTable/DataTable.vue";
import BaseModal from "../components/Modal/BaseModal.vue";
import ButtonSubmit from "../components/Modal/ButtonSubmit.vue";
import ButtonCancel from "../components/Modal/ButtonCancel.vue";
import FormGroup from "../components/FormGroup/FormGroup.vue";

export default {
  components: {
    subHeader: SubHeader,
    subContent: SubContent,
    basePortlet: BasePortlet,
    dataTable: DataTable,
    baseModal: BaseModal,
    buttonSubmit: ButtonSubmit,
    buttonCancel: ButtonCancel,
    formGroup: FormGroup
  },
  data() {
    return {
      customer: {},
      customers: [],
      terhutang: 0,
      breadcumbs: [
        {
          name: "Laporan",
          link: "/laporan/hutang"
        },
        {
          name: "Hutang",
          link: "/laporan/hutang"
        }
      ],
      tableData: {
        header: [
          { title: "Nama", field: "name" },
          { title: "Total", field: "price", type: "accounting" },
          { title: "Dibayar", field: "payment", type: "accounting" },
          { title: "Sisa", field: "debt", type: "accounting" },
          {
            title: "#",
            field: "action",
            width: 110,
            overflow: "visible",
            textAlign: "center",
            template: x => x["action"]
          }
        ],
        url: "/api/customers/debt",
        accounting: ["price", "payment", "debt"],
        action: [{ title: "Detail", class: "detail", icon: "la la-eye" }]
      }
    };
  },
  created() {
    axios.get("/api/customers/debt").then(({ data }) => {
      this.customers = data;
      this.terhutang = this.accounting(data.reduce((carry, value) => carry + value.price - value.payment, 0));
    });
  },
  methods: {
    detail(id) {
      this.customer = this.customers.find(function(customer) {
        if (customer.id == id) {
          return true;
        }
      });
      window.$("#modal").modal("show");
    },
    accounting(num) {
      return Accounting.formatMoney(num, "Rp ");
    },
    print() {
      window.print();
    }
  }
};
</script>

<style scoped>
  .m-widget20 .m-widget20__number {
        font-size: 1.5rem;
  }
</style>
