<template>
  <div class="m-grid__item m-grid__item--fluid m-wrapper">

    <sub-header
      :header-title="'Penjualan'"
      :breadcumbs="breadcumbs">
    </sub-header>

    <sub-content>
      <base-portlet :portlet-title="'Penjualan'">
        <data-table
          :new-item="'Tambah Penjualan'"
          :table="tableData"
          :table-reload="tableReload"
          @new-item="newInvoice"
          @edit="editInvoice"
          @payment="editPayment"
          @delete="deleteInvoice">
        </data-table>
      </base-portlet>
    </sub-content>

    <base-modal 
      :title="modal.title" 
      class="modalwidth">
      <template slot="body">
        <form class="m-form m-form--fit m-form--label-align-right">
          <div class="m-portlet__body">
            <form-group :label="'Tanggal'">
              <date-picker
                :selector="'invoice-date'"
                :date="invoice.date"
                :trigger="triggerDate"
                @getDate="getDate"></date-picker>
            </form-group>
            <form-group
              :label="'Customer'"
              :validation="validation.customer[0]">
              <select-two
                v-model="invoice.customer"
                :disabled="!newInvoiceStatus"
                :data="customers"
                :placeholder="'Pilih pelanggan'"
                :add-text="'sebagai pelanggan'"
                :dropdown-parent="'#modal'"
                @newoption="newCustomer">
              </select-two>
            </form-group>
            <div class="form-group m-form__group t-overflow">
              <table class="table table-bordered table-hover table-edit table-responsive">
                <thead class="thead-default">
                  <tr>
                    <th>
                      Barang
                    </th>
                    <th style="width:10%">
                      Qty
                    </th>
                    <th style="width:12%">
                      Satuan
                    </th>
                    <th style="width:17%">
                      Harga
                    </th>
                    <th style="width:20%">
                      Total
                    </th>
                    <th style="width:17%">
                      Ket
                    </th>
                    <th style="width:5%">
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <invoice-row 
                    v-for="(row, key) in rows"
                    :stocks="stocks"
                    :key="key"
                    :row-key="key"
                    :old-invoice="row"
                    @updateItem="updateItem"
                    @removeRow="removeRow"></invoice-row>
                </tbody>
              </table>
              <table class="table white">
                <thead>
                  <tr>
                    <th>
                      
                    </th>
                    <th style="width:15%">
                      
                    </th>
                    <th style="width:20%; text-align: right">
                      Total:
                    </th>
                    <th style="width:25%">
                      {{ price }}
                    </th>
                  </tr>
                </thead>
              </table>
            </div>
            <div class="table-add">
              <button 
                type="button" 
                class="btn btn-secondary m-btn m-btn--icon m-btn--icon-only"
                @click="addRow">
                <i class="la la-plus"></i>
              </button>
            </div>
            <form-group 
              v-if="newInvoiceStatus"
              :label="'Jumlah Pembayaran'">
              <input
                v-model="payment"
                type="text"
                class="form-control m-input"
                placeholder="Jumlah Pembayaran"
                @blur="paymentInputActive = false"
                @focus="paymentInputActive = true">
            </form-group>
          </div>
        </form>
      </template>

      <template slot="footer">
        <button-cancel></button-cancel>
        <button-submit @submit="submit"></button-submit>
      </template>
    </base-modal>

    <base-modal 
      :id="'modal-payment'"
      :title="'Add Payment'">
      <template slot="body">
        <form class="m-form m-form--fit m-form--label-align-right">
          <div class="m-portlet__body">
            <div class="m-section form-group m-form__group">
              <label>Riwayat Pembayaran</label>
              <div class="m-section__content">
                <table class="table table-bordered table-hover">
                  <thead class="thead-default">
                    <tr>
                      <th>
                        #
                      </th>
                      <th>
                        Tanggal
                      </th>
                      <th>
                        Jumlah Pembayaran
                      </th>
                      <th 
                        width="10px" 
                        class="text-center">
                        Hapus
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(payment, index) in payments">
                      <td scope="row">
                        {{ index + 1 }}
                      </td>
                      <td>
                        {{ payment.created_at.slice(0,10) }}
                      </td>
                      <td>
                        <span class="pre">{{ payment.payment }}</span>
                      </td>
                      <td class="text-center">
                        <button 
                          type="button"
                          class="btn m-btn btn-sm m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill" 
                          @click="deletePayment(payment.id)">
                          <i class="la la-trash"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <form-group :label="'Tanggal'">
              <date-picker
                :selector="'bill-date2'"
                :date="invoice.date"
                :trigger="triggerDate"
                @getDate="getDate"></date-picker>
            </form-group>
         
            <form-group 
              :label="'Jumlah Pembayaran'">
              <input
                v-model="payment"
                type="text"
                class="form-control m-input"
                placeholder="Jumlah Pembayaran"
                @blur="paymentInputActive = false"
                @focus="paymentInputActive = true">
            </form-group>
          </div>
        </form>
      </template>

      <template slot="footer">
        <button
          type="button" 
          class="btn btn-primary"
          @click="addPayment">
          Add
        </button>
      </template>

    </base-modal>

  </div>
</template>

<script>
import axios from "axios";
import Accounting from 'accounting';
import SubHeader from '../components/Content/SubHeader.vue';
import SubContent from '../components/Content/SubContent.vue';
import BasePortlet from '../components/Portlet/BasePortlet.vue';
import DataTable from '../components/DataTable/DataTable.vue';
import BaseModal from '../components/Modal/BaseModal.vue';
import ButtonSubmit from '../components/Modal/ButtonSubmit.vue';
import ButtonCancel from '../components/Modal/ButtonCancel.vue';
import FormGroup from '../components/FormGroup/FormGroup.vue';
import DatePicker from '../components/FormGroup/DatePicker.vue';
import InvoiceRow from '../components/FormGroup/InvoiceRow.vue';
import SelectTwo from '../components/FormGroup/SelectTwo.vue';

export default {
  components: {
    subHeader: SubHeader,
    subContent: SubContent,
    basePortlet: BasePortlet,
    dataTable: DataTable,
    baseModal: BaseModal,
    buttonSubmit: ButtonSubmit,
    buttonCancel: ButtonCancel,
    formGroup: FormGroup,
    datePicker: DatePicker,
    invoiceRow: InvoiceRow,
    selectTwo: SelectTwo
  },
  data() {
    return {
      satuSak: 25,
      jumlahSak: 0,
      breadcumbs: [{
        name: 'Transaksi',
        link: '/penjualan'
      }, {
        name: 'Penjualan',
        link: '/penjualan'
      }],
      customers: [],
      invoice: {
        date: '',
        customer: ''
      },
      modal: {
        title: ''
      },
      newInvoiceStatus: true,
      addPay: {
        date: '',
        invoice_id: '',
        payment: 0,
        created_at: 0,
      },
      payments: [],
      paymentHolder: 0,
      paymentInputActive: false,
      rows: {},
      stocks: [],
      tableData: {
        header: [
          {title: 'No', field: 'id', width: 50},
          {title: 'Tanggal', field: 'created_at', width: 100, template: (x) => {
            const date = new Date(x.created_at),
                  year = date.getFullYear(),
                  month = (date.getMonth() + 1) < 10 ? `0${(date.getMonth() + 1)}` : (date.getMonth() + 1),
                  day = date.getDate() < 10 ? `0${date.getDate()}` : date.getDate();
            return `${year}/${month}/${day}`;
            }
          },
          {title: 'Pelanggan', field: 'vendor'},
          {title: 'Total', field: 'price', type: 'accounting', width: 200},
          {title: 'Dibayar', field: 'payment', type: 'accounting', width: 200},
          {title: 'Sisa', field: 'due', type: 'accounting', width: 200},
          {title: '#', field: 'action', width: 110, overflow: 'visible', textAlign: 'center', template: (x) => x['action']}
        ],
        url: '/api/invoices',
        accounting: ['price', 'payment', 'due'],
        action: [
          {title: 'Payment', class: 'payment', icon: 'la la-money'},
          {title: 'Edit', class: 'edit', icon: 'la la-edit'},
          {title: 'Delete', class: 'delete'}
        ]
      },
      tableReload: true,
      triggerDate: true,
      validation: {
        customer: ''
      },
    }
  },
  computed:{
    totalSak(){
      return this.satuSak * this.jumlahSak;
    },
    price(){
      const sum = Object.values(this.rows).reduce((t, n) => t + n.qty*n.rate, 0);
      return Accounting.formatMoney(sum, "Rp ");
    },
    payment: {
      get(){
        if (this.paymentInputActive) {
          return this.paymentHolder;
        }

        if (!this.paymentInputActive) {
          return Accounting.formatMoney(this.paymentHolder, "Rp ");
        }
      },
      set(val){
        this.paymentHolder = +val;
      }
    }
  },
  watch:{
    'invoice.date'(){
      this.triggerDate = !this.triggerDate;
    },
  },
  created(){
    axios
      .get(`/api/customers`)
      .then(({data}) => {
          this.customers = data;
          this.customers = data.map(customer => ({
            id: customer.id,
            text: customer.name
          }));
      });
    axios
      .get(`/api/stocks`)
      .then(({data}) => {
          this.stocks = data;
      });
  },
  methods: {
    addRow(){
      const rowKey = Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15);
      this.$set(this.rows, rowKey, {item: '', qty: 1, rate: 0, due: 0, ket: ''});
    },
    clearRows(){
      for (const key in this.rows) {
        if (this.rows.hasOwnProperty(key)) {
          this.$delete(this.rows, key);
        }
      }
    },
    removeRow(rowKey){
      this.$delete(this.rows, rowKey);
    },
    getDate(date){
      this.invoice.date = formatDate(date);
      this.addPay.created_at = formatDate(date);
    },
    addPayment(){
      this.addPay.payment = this.paymentHolder;
      this.addPay.invoice_id = this.invoice.id;
      axios.post('api/invoices/add/payment', this.addPay)
        .then(() => {
          axios
            .get(`/api/invoices/${this.invoice.id}`)
            .then(({data}) => {
              const payments = data.payments.map((x) => x.payment);
              const formatedPayments = Accounting.formatColumn(payments, 'Rp ');
              this.payments = [];
              formatedPayments.forEach((element, index) => {
                this.payments.push({
                  id: data.payments[index].id,
                  created_at: data.payments[index].created_at,
                  payment: element
                });
              });
            });
          this.tableReload = !this.tableReload;
        })
        .catch(({response}) => {
          const err = response.data.errors;
          for (const key in err) {
            if (err.hasOwnProperty(key)) {
              const element = err[key];
              this.validation[key] = element;
            }
          }
        });
    },
    editPayment(emmit){
      axios
        .get(`/api/invoices/${emmit}`)
        .then(({data}) => {
          this.invoice.id = data.id;
          const payments = data.payments.map((x) => x.payment);
          const formatedPayments = Accounting.formatColumn(payments, 'Rp ');
          this.payments = [];
          formatedPayments.forEach((element, index) => {
            this.payments.push({
              id: data.payments[index].id,
              created_at: data.payments[index].created_at,
              payment: element
            });
          });
          window.$('#modal-payment').modal('show');
        });
    },
    deletePayment(id){
      axios
        .delete(`/api/invoices/payment/${id}`)
        .then(() => {
          const index = this.payments.findIndex(obj => obj.id == id);
          this.payments.splice(index, 1);
          this.tableReload = !this.tableReload;
        });
    },
    newInvoice(){
      this.newInvoiceStatus = true;
      this.modal.title = 'New Invoice';
      this.payment = 0;
      for (const key in this.invoice) {
        this.invoice[key] = '';
      }
      this.invoice.date = formatDate(new Date());
      this.clearRows();
      this.addRow();
      window.$('#modal').modal('show');
    },
    editInvoice(emmit){
      this.newInvoiceStatus = false;
      this.modal.title = 'Edit Invoice';
      for (const key in this.invoice) {
        this.invoice[key] = '';
      }
      this.clearRows();
      axios
        .get(`/api/invoices/${emmit}`)
        .then(({data}) => {
          this.invoice.id = data.id;
          this.invoice.date = formatDate(data.created_at);
          this.invoice.customer = data.customer_id;
          for (const key in data.items) {
            if (data.items.hasOwnProperty(key)) {
              const element = data.items[key];
              this.$set(this.rows, key, {
                item: element.stock_id,
                qty: element.qty,
                rate: element.rate,
                ket: element.ket
              });
            }
          }
          window.$('#modal').modal('show');
        });
    },
    deleteInvoice(emmit){
      axios
        .delete(`/api/invoices/${emmit}`)
        .then(() => {
          this.tableReload = !this.tableReload;
        });
    },
    submit(){
      const invoice = [this.invoice, this.rows, this.paymentHolder];
      
      if (this.newInvoiceStatus) {
        axios.post('api/invoices', invoice)
          .then(() => {
            window.$('#modal').modal('hide');
            this.tableReload = !this.tableReload;
            for (const key in this.invoice) {
              this.invoice[key] = '';
            }
            this.clearRows();
          })
          .catch(({response}) => {
            const err = response.data.errors;
            for (const key in err) {
              if (err.hasOwnProperty(key)) {
                const element = err[key];
                this.validation[key] = element;
              }
            }
          });
      } else {
        axios.put(`/api/invoices/${this.invoice.id}`, invoice)
          .then(() => {
            window.$('#modal').modal('hide');
            this.tableReload = !this.tableReload;
            for (const key in this.invoice) {
              this.invoice[key] = '';
            }
            this.clearRows();
          })
          .catch(({response}) => {
            const err = response.data.errors;
            for (const key in err) {
              if (err.hasOwnProperty(key)) {
                const element = err[key];
                this.validation[key] = element;
              }
            }
          });
      }
    },
    updateItem(item){
      this.rows[item.rowKey] = item;
    },
    newCustomer(emmit){
      axios.post('api/customers', {name: emmit, phone: '', address: ''})
          .then(({data}) => {
            this.customers.push({id: data.id, text: emmit})
            this.invoice.customer = data.id;
          })
    },
    formatDate(x){
      return formatDate(x);
    },
    formatMoney(x){
      return Accounting.formatMoney(x, "Rp ");
    }
  }
}

const formatDate = (x) => {
  const date = new Date(x),
        year = date.getFullYear(),
        month = (date.getMonth() + 1) < 10 ? `0${(date.getMonth() + 1)}` : (date.getMonth() + 1),
        day = date.getDate() < 10 ? `0${date.getDate()}` : date.getDate();
  return `${year}/${month}/${day}`;
}

</script>


<style scoped>
  .pre {
    white-space: pre;
    font-family: monospace;
  }
</style>