<template>
  <div class="m-grid__item m-grid__item--fluid m-wrapper">

    <sub-header
      :header-title="'Jurnal'"
      :breadcumbs="breadcumbs">
      <div>
        <span 
          id="m_dashboard_daterangepicker"
          class="m-subheader__daterange">
          <span class="m-subheader__daterange-label">
            <span class="m-subheader__daterange-title"></span>
            <span class="m-subheader__daterange-date m--font-brand"></span>
          </span>
          <a 
            href="#" 
            class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
            <i class="la la-angle-down"></i>
          </a>
        </span>
      </div>
    </sub-header>

    <sub-content>
      <div class="row">
        <div class="col-md-4">
          <div 
            class="m-portlet m-portlet--bordered-semi m-portlet--half-height m-portlet--fit " 
            style="min-height: 105px">
            <div class="m-portlet__head">
              <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                  <h3 class="m-portlet__head-text">
                    Uang Masuk
                  </h3>
                </div>
              </div>
            </div>
            <div class="m-portlet__body">
              <!--begin::Widget5-->
              <div class="m-widget20">
                <div 
                  class="m-widget20__number m--font-brand" 
                  style="padding-bottom:15px">
                  {{ cashIn }}
                </div>
              </div>
              <!--end::Widget 5-->
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div 
            class="m-portlet m-portlet--bordered-semi m-portlet--half-height m-portlet--fit " 
            style="min-height: 105px">
            <div class="m-portlet__head">
              <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                  <h3 class="m-portlet__head-text">
                    Uang Keluar
                  </h3>
                </div>
              </div>
            </div>
            <div class="m-portlet__body">
              <!--begin::Widget5-->
              <div class="m-widget20">
                <div 
                  class="m-widget20__number m--font-danger" 
                  style="padding-bottom:15px">
                  {{ cashOut }}
                </div>
              </div>
              <!--end::Widget 5-->
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div 
            class="m-portlet m-portlet--bordered-semi m-portlet--half-height m-portlet--fit " 
            style="min-height: 105px">
            <div class="m-portlet__head">
              <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                  <h3 class="m-portlet__head-text">
                    Jumlah Transaksi
                  </h3>
                </div>
              </div>
            </div>
            <div class="m-portlet__body">
              <!--begin::Widget5-->
              <div class="m-widget20">
                <div 
                  class="m-widget20__number m--font-warning" 
                  style="padding-bottom:15px">
                  {{ cashCount }} Item
                </div>
              </div>
              <!--end::Widget 5-->
            </div>
          </div>
        </div>
      </div>
      <base-portlet :portlet-title="'Jurnal'">
        <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
          <div class="row align-items-center">
            <div class="col-xl-8 order-2 order-xl-1">
              <div class="form-group m-form__group row align-items-center">
                <div class="col-md-4">
                  <div class="m-input-icon m-input-icon--left">
                    <input 
                      id="generalSearch" 
                      type="text" 
                      class="form-control m-input" 
                      placeholder="Pencarian...">
                    <span class="m-input-icon__icon m-input-icon__icon--left">
                      <span>
                        <i class="la la-search"></i>
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div 
          id="local-table" 
          class="m_datatable"></div>
      </base-portlet>
    </sub-content>

  </div>
</template>

<script>
import axios from "axios";
import Accounting from "accounting";
import moment from "moment";
import SubHeader from "../components/Content/SubHeader.vue";
import SubContent from "../components/Content/SubContent.vue";
import BasePortlet from "../components/Portlet/BasePortlet.vue";
import DataTable from "../components/DataTable/DataTable.vue";
import BaseModal from "../components/Modal/BaseModal.vue";
import ButtonSubmit from "../components/Modal/ButtonSubmit.vue";
import ButtonCancel from "../components/Modal/ButtonCancel.vue";
import FormGroup from "../components/FormGroup/FormGroup.vue";

export default {
  components: {
    subHeader: SubHeader,
    subContent: SubContent,
    basePortlet: BasePortlet,
    dataTable: DataTable,
    baseModal: BaseModal,
    buttonSubmit: ButtonSubmit,
    buttonCancel: ButtonCancel,
    formGroup: FormGroup
  },
  data() {
    return {
      customer: {},
      customers: [2, 2],
      breadcumbs: [
        {
          name: "Laporan",
          link: "/laporan/jurnal"
        },
        {
          name: "Jurnal",
          link: "/laporan/jurnal"
        }
      ],
      cashIn: 0,
      cashOut: 0,
      cashCount: 0,
      dataTable: null
    };
  },
  mounted(){
    const vm = this;
    function e(e, a, r) {
      vm.getJurnal(e.format('YYYY-MM-DD HH:mm:ss'), a.format('YYYY-MM-DD HH:mm:ss'));
      let o = "",
          l = "";
      a - e < 86399999 ? (o = "Today:", l = e.format("MMM D")) : "Yesterday" == r ? (o = "Yesterday:", l = e.format("MMM D")) : l = e.format("MMM D") + " - " + a.format("MMM D"), t.find(".m-subheader__daterange-date").html(l), t.find(".m-subheader__daterange-title").html(o);
    }

    const t = window.$("#m_dashboard_daterangepicker"),
        a = moment(),
        r = moment();
    t.daterangepicker({
      startDate: a.hours(0).minutes(0).seconds(0),
      endDate: r,
      opens: "left",
      ranges: {
        Today: [moment(), moment()],
        Yesterday: [moment().subtract(1, "days"), moment().subtract(1, "days")],
        "Last 7 Days": [moment().subtract(6, "days"), moment()],
        "Last 30 Days": [moment().subtract(29, "days"), moment()],
        "This Month": [moment().startOf("month"), moment().endOf("month")],
        "Last Month": [moment().subtract(1, "month").startOf("month"), moment().subtract(1, "month").endOf("month")]
      }
    }, e);
    e(a, r, "");

  },
  methods: {
    accounting(num) {
      return Accounting.formatMoney(num, "Rp ");
    },
    getJurnal(start, end){
      axios
        .get(`/api/laporan/jurnal?start=${start}&end=${end}`)
        .then(({data}) => {

          this.cashIn = Accounting.formatMoney(data.reduce( (carry, x) => {
            if (x.flow == 0) {
              return carry + x.payment;
            }
            return carry;
          }, 0), 'Rp ');
          this.cashOut = Accounting.formatMoney(data.reduce( (carry, x) => {
            if (x.flow != 0) {
              return carry + x.payment;
            }
            return carry;
          }, 0), 'Rp ');
          this.cashCount = data.length;
          const payment = data.map( x => x.payment )
          const formatedPayment = Accounting.formatColumn(payment, 'Rp ');
          const formatedData = data.map( (x, key) => {
            x.formatedPayment = formatedPayment[key];
            return x;
          })
          if (this.dataTable) {
            if (this.dataTable.hasOwnProperty('destroy')) {
              this.dataTable.destroy();
            }
          }

          this.dataTable = window.$("#local-table").mDatatable({
            data: {
              type: "local",
              source: formatedData,
            },
            search: {
              input: window.$("#generalSearch")
            },
            columns: [{
              field: "date",
              title: "Tanggal",
              template: (x) => x.date.substring(0,10)
            }, {
              field: "ket",
              title: "Keterangan",
            }, {
              field: "payment",
              title: "Masuk",
              template: (x) => {
                if (x.flow == 0) {
                  return `<span style="white-space:pre;font-family:monospace">${x.formatedPayment}</span>`;
                }
              }
            }, {
              field: "flow",
              title: "Keluar",
              template: (x) => {
                if (x.flow == 1) {
                  return `<span style="white-space:pre;font-family:monospace">${x.formatedPayment}</span>`;
                }
              }
            }]
          });
        });
    }
  }
};
</script>

<style scoped>
  .m-widget20 .m-widget20__number {
      font-size: 1.5rem;
  }
</style>

