<template>
  <div class="m-grid__item m-grid__item--fluid m-wrapper">

    <sub-header
      :header-title="'Pembelian'"
      :breadcumbs="breadcumbs">
      <div>
        <date-range @datechange="dateChange"></date-range>
      </div>
    </sub-header>

    <sub-content>
      <div class="row">
        <div class="col-md-4">
          <div 
            class="m-portlet m-portlet--bordered-semi m-portlet--half-height m-portlet--fit " 
            style="min-height: 105px">
            <div class="m-portlet__head">
              <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                  <h3 class="m-portlet__head-text">
                    Total Pembelian
                  </h3>
                </div>
              </div>
            </div>
            <div class="m-portlet__body">
              <!--begin::Widget5-->
              <div class="m-widget20">
                <div 
                  class="m-widget20__number m--font-brand" 
                  style="padding-bottom:15px">
                  {{ widget.total }}
                </div>
              </div>
              <!--end::Widget 5-->
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div 
            class="m-portlet m-portlet--bordered-semi m-portlet--half-height m-portlet--fit " 
            style="min-height: 105px">
            <div class="m-portlet__head">
              <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                  <h3 class="m-portlet__head-text">
                    Total Pembayaran
                  </h3>
                </div>
              </div>
            </div>
            <div class="m-portlet__body">
              <!--begin::Widget5-->
              <div class="m-widget20">
                <div 
                  class="m-widget20__number m--font-danger" 
                  style="padding-bottom:15px">
                  {{ widget.dibayar }}
                </div>
              </div>
              <!--end::Widget 5-->
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div 
            class="m-portlet m-portlet--bordered-semi m-portlet--half-height m-portlet--fit " 
            style="min-height: 105px">
            <div class="m-portlet__head">
              <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                  <h3 class="m-portlet__head-text">
                    Total Terhutang
                  </h3>
                </div>
              </div>
            </div>
            <div class="m-portlet__body">
              <!--begin::Widget5-->
              <div class="m-widget20">
                <div 
                  class="m-widget20__number m--font-warning" 
                  style="padding-bottom:15px">
                  {{ widget.sisa }}
                </div>
              </div>
              <!--end::Widget 5-->
            </div>
          </div>
        </div>
      </div>
      <base-portlet :portlet-title="'Pembelian'">
        <local-table
          :options="tableOptions"
          @create="createBill"
          @edit="editBill"
          @delete="deleteBill"></local-table>
      </base-portlet>
    </sub-content>
    
    <base-modal 
      :title="'Pembelian'" 
      class="modalwidth">
      <template slot="body">
        <form class="m-form m-form--fit m-form--label-align-right">
          <div class="m-portlet__body">
            <form-group :label="'Tanggal'">
              <date-picker
                :date="bill.date"
                @newdate="datePicker"></date-picker>
            </form-group>
            <form-group
              :label="'Supplier'"
              :validation="validation.customer">
              <select-two
                v-model="bill.vendor"
                :disabled="!newBill"
                :data="vendors"
                :placeholder="'Pilih supplier'"
                :add-text="'sebagai supplier'"
                :dropdown-parent="'#modal'"
                @newoption="createVendor">
              </select-two>
            </form-group>
            <form-group
              :label="'Barang'">
              <bill-table 
                :items="bill.items"
                :stocks="vendorStocks"
                @data="billTable">
              </bill-table>
            </form-group>
            <form-group
              :label="'Pembayaran'">
              <payment-table 
                :items="bill.payments"
                @data="paymentTable">
              </payment-table>
            </form-group>
          </div>
        </form>
      </template>

      <template slot="footer">
        <button 
          type="button" 
          class="btn btn-secondary" 
          data-dismiss="modal">
          Batal
        </button>
        <button
          type="submit" 
          class="btn btn-primary btn-submit"
          @click="submitBill">
          Simpan
        </button>
      </template>
    </base-modal>

  </div>
</template>

<script>
import axios from "axios";
import moment from "moment";
import Accounting from "accounting";
import SubHeader from "../components/Content/SubHeader.vue";
import SubContent from "../components/Content/SubContent.vue";
import BasePortlet from "../components/Portlet/BasePortlet.vue";
import LocalTable from "../components/DataTable/LocalTable.vue";
import BillTable from "../components/DataTable/BillTable.vue";
import PaymentTable from "../components/DataTable/PaymentTable.vue";
import BaseModal from "../components/Modal/BaseModal.vue";
import FormGroup from "../components/FormGroup/FormGroup.vue";
import DateRange from "../components/DatePicker/DateRange.vue";
import DatePicker from '../components/DatePicker/DatePicker.vue';
import SelectTwo from '../components/FormGroup/SelectTwo.vue';

export default {
  components: {
    subHeader: SubHeader,
    subContent: SubContent,
    basePortlet: BasePortlet,
    localTable: LocalTable,
    baseModal: BaseModal,
    formGroup: FormGroup,
    dateRange: DateRange,
    datePicker: DatePicker,
    selectTwo: SelectTwo,
    BillTable,
    PaymentTable
  },
  data() {
    return {
      breadcumbs: [
        {
          name: "Transaksi",
          link: "/transaksi/pembelian"
        },
        {
          name: "Pembelian",
          link: "/transaksi/pembelian"
        }
      ],
      vendors: [],
      vendorsRaw: [],
      vendorStocks: [],
      bill: {
        id: '',
        vendor: 0,
        items: [],
        payments: [],
        date: moment().format('YYYY-MM-DD HH:mm:ss'),
      },
      newBill: true,
      items: [],
      payments: [],
      tableOptions: {
        data: {
          type: "local",
          source: [],
        },
        columns: [{
          field: "date",
          title: "Tanggal",
          template: (x) => x.created_at.substring(0,10)
        }, {
          field: "vendor",
          title: "Supplier",
        }, {
          field: "formatedPrice",
          title: "Total",
          template: (x) => {
            return `<span style="white-space:pre;font-family:monospace">${x.formatedPrice}</span>`;
          }
        }, {
          field: "formatedPayment",
          title: "Dibayar",
          template: (x) => {
            return `<span style="white-space:pre;font-family:monospace">${x.formatedPayment}</span>`;
          }
        }, {
          field: "formatedDue",
          title: "Sisa",
          template: (x) => {
            return `<span style="white-space:pre;font-family:monospace">${x.formatedDue}</span>`;
          }
        }, {
          field: "actions",
          textAlign: 'center',
          title: "#",
          overflow: 'visible',
          template: (x) => {
            return `
            <a data-action="${x.id}" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill action-edit" title="Edit"><i class="la la-edit"></i></a>
            <div class="dropdown">
              <button class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" title="Hapus">
                <i class="la la-trash"></i>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <a href="#" onclick="return false;" data-action="${x.id}" class="dropdown-item action-delete">
                  <i class="la la-check"></i> Hapus</a>
                <a href="#" onclick="return false;" class="dropdown-item cancel">
                  <i class="la la-remove"></i> Batal</a>
              </div>
            </div>`;
          }
        }],
        actions: ['edit', 'delete']
      },
      widget: {
        total: 0,
        paid: 0,
        due: 0
      },
      date: {
        start: moment().format('YYYY-MM-DD HH:mm:ss'),
        end: moment().format('YYYY-MM-DD HH:mm:ss')
      },
      validation: {
        customer: ''
      },
      cashes: []
    };
  },
  watch: {
    'bill.vendor'(id){
      if (id) {
        this.vendorStocks = this.vendorsRaw.find( x => x.id == id).stocks;
      }
    }
  },
  created(){
    this.fetchVendors();
  },
  methods: {
    dateChange(date){
      this.date.start = date.start;
      this.date.end = date.end;
      this.fetchTableData();
    },
    createBill(){
      this.clearBill();
      this.newBill = true;
      window.$('#modal').modal('show');
    },
    editBill(id){
      this.newBill = false;
      axios
        .get(`/api/bills/${id}`)
        .then(({data}) => {
          this.bill.id = data.id;
          this.bill.date = data.created_at;
          this.bill.vendor = data.vendor_id;
          this.bill.items = data.items;
          this.bill.payments = data.payments;
          window.$('#modal').modal('show');
        });
    },
    submitBill(){
      if (this.newBill) {
        this.storeBill();
      }
      if (!this.newBill) {
        this.updateBill();
      }
    },
    storeBill(){
      const bill = [this.bill, this.items, this.payments];
      axios.post('/api/bills', bill)
        .then(() => {
          this.fetchTableData();
          window.$('#modal').modal('hide');
          this.clearBill();
          this.items = [];
        })
        .catch(({response}) => {
          const err = response.data.errors;
          for (const key in err) {
            if (err.hasOwnProperty(key)) {
              const element = err[key];
              this.validation[key] = element;
            }
          }
        });
    },
    updateBill(){
      const bill = [this.bill, this.items, this.payments];
      axios.put(`/api/bills/${this.bill.id}`, bill)
        .then(() => {
          this.fetchTableData();
          window.$('#modal').modal('hide');
          this.clearBill();
          this.items = [];
        })
        .catch(({response}) => {
          const err = response.data.errors;
          for (const key in err) {
            if (err.hasOwnProperty(key)) {
              const element = err[key];
              this.validation[key] = element;
            }
          }
        });
    },
    deleteBill(id){
      axios
        .delete(`/api/bills/${id}`)
        .then(() => {
          this.fetchTableData();
        });
    },
    fetchTableData(){
      axios
        .get(`/api/bills?start=${this.date.start.format('YYYY-MM-DD HH:mm:ss')}&end=${this.date.end.format('YYYY-MM-DD HH:mm:ss')}`)
        .then(({data}) => {

          this.widget.total = Accounting.formatMoney(data.reduce( (carry, x) => {
            return carry + x.price;
          }, 0), 'Rp ');
          this.widget.dibayar = Accounting.formatMoney(data.reduce( (carry, x) => {
            return carry + x.payment;
          }, 0), 'Rp ');
          this.widget.sisa = Accounting.formatMoney(data.reduce( (carry, x) => {
            return carry + x.due;
          }, 0), 'Rp ');

          const price = data.map( x => x.price )
          const payment = data.map( x => x.payment )
          const due = data.map( x => x.due )
          const formatedPrice = Accounting.formatColumn(price, 'Rp ');
          const formatedPayment = Accounting.formatColumn(payment, 'Rp ');
          const formatedDue = Accounting.formatColumn(due, 'Rp ');
          const formatedData = data.map( (x, key) => {
            x.formatedPrice = formatedPrice[key];
            x.formatedPayment = formatedPayment[key];
            x.formatedDue = formatedDue[key];
            return x;
          });

          this.tableOptions.data.source = formatedData;
        });
    },
    datePicker(date){
      this.bill.date = moment(new Date(date).toISOString()).format('YYYY-MM-DD HH:mm:ss');
    },
    fetchVendors(callback = null){
      axios
        .get(`/api/vendors`)
        .then(({data}) => {
            this.vendors = data.map(vendor => ({
              id: vendor.id,
              text: vendor.name
            }));
            this.vendorsRaw = data;
            callback ? callback() : '';
        });
    },
    createVendor(name){
      axios.post('/api/vendors', {name: name, phone: '', address: ''})
        .then(({data}) => {
          this.fetchVendors(() => this.bill.vendor = data.id);
        })
    },
    billTable(data){
      this.items = data;
    },
    paymentTable(data){
      this.payments = data;
    },
    clearBill(){
      this.bill.id = '';
      this.bill.vendor = '';
      this.bill.items = [];
      this.bill.date = moment().format('YYYY-MM-DD HH:mm:ss');
    }
  }
};
</script>

<style scoped>
  .m-widget20 .m-widget20__number {
      font-size: 1.5rem;
  }
</style>

