<template>
  <div>
    <table class="table table-bordered table-hover table-edit table-responsive">
      <thead class="thead-default">
        <tr>
          <th>
            Barang
          </th>
          <th style="width:10%">
            Qty
          </th>
          <th style="width:12%">
            Satuan
          </th>
          <th style="width:17%">
            Harga (Kg)
          </th>
          <th style="width:20%">
            Total
          </th>
          <th style="width:17%">
            Ket
          </th>
          <th style="width:33px">
            R
          </th>
          <th style="width:33px">
          </th>
        </tr>
      </thead>
      <tbody>
        <invoice-row
          v-for="row in rows"
          :row="row"
          :stocks="stocks"
          :row-key="row.rowKey"
          :key="row.rowKey"
          :rcv="true"
          @updateitem="updateItem"
          @removerow="removeRow">
        </invoice-row>
      </tbody>
    </table>
    <table class="table white">
      <thead>
        <tr>
          <th>
            
          </th>
          <th style="width:15%">
            
          </th>
          <th style="width:20%; text-align: right">
            Total:
          </th>
          <th style="width:25%">
            {{ total }}
          </th>
        </tr>
      </thead>
    </table>
    <div class="table-add">
      <button 
        type="button"
        title="Tambah Barang"
        class="btn btn-secondary m-btn m-btn--icon m-btn--icon-only"
        @click="addRow">
        <i class="la la-plus"></i>
      </button>
    </div>
  </div>
</template>

<script>

import Accounting from "accounting";
import InvoiceRow from "./InvoiceRow.vue";

export default {
  components: {
    InvoiceRow
  },
  props: {
    items: {
      type: Array,
      required: true
    },
    stocks: {
      type: Array,
      required: true
    }
  },
  data(){
    return {
      rows: [],
      total: Accounting.formatMoney(0, 'Rp ')
    }
  },
  computed: {

  },
  watch: {
    items(){
      this.rows = [];
      this.rows = this.items.map(item => ({
        rowKey: item.id,
        stock_id: item.stock_id,
        scale: item.scale,
        qty: item.qty,
        rate: item.rate,
        ket: item.ket,
        status: item.status
      }))
    },
    rows(){
      if (this.rows.length == 0) {
        this.addRow();
      }
    }
  },
  created(){

  },
  methods: {
    updateItem(item){
      const index = this.rows.findIndex((row) => row.rowKey == item.rowKey);
      if (index != -1) {
        this.rows[index] = item;
      }
      const sum = this.rows.reduce((carry, current) => (carry + current.qty * current.rate), 0);
      this.total = Accounting.formatMoney(sum, 'Rp ');
      this.$emit('data', this.rows);
    },
    addRow(){
      this.rows.push({
        rowKey: Math.random().toString(36).substr(2, 5),
        stock_id: '',
        qty: 1,
        scale: 1,
        rate: 0,
        ket: '',
        status: false
      });
    },
    removeRow(rowKey){
      const index = this.rows.findIndex((row) => row.rowKey == rowKey);
      this.rows.splice(index, 1);
      this.$emit('data', this.rows);
    }
  }
}
</script>


