<template>
  <div>
    <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
      <div class="row align-items-center">
        <div class="col-xl-8 order-2 order-xl-1">
          <div class="form-group m-form__group row align-items-center">
            <div class="col-md-4">
              <div class="m-input-icon m-input-icon--left">
                <input 
                  id="generalSearch" 
                  type="text" 
                  class="form-control m-input" 
                  placeholder="Pencarian...">
                <span class="m-input-icon__icon m-input-icon__icon--left">
                  <span>
                    <i class="la la-search"></i>
                  </span>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div 
          v-if="newItem"
          class="col-xl-4 order-1 order-xl-2 m--align-right">
          <a 
            class="btn btn-brand m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill"
            href="#"
            @click="newButton">
            <span>
              <i class="la la-plus"></i>
              <span>
                {{ newItem }}
              </span>
            </span>
          </a>
          <div class="m-separator m-separator--dashed d-xl-none"></div>
        </div>
      </div>
    </div>
    <div id="data-table"></div>

  </div>
</template>

<script>

import Accounting from 'accounting';

export default {
  props: {
    newItem: {
      default: '',
      type: String
    },
    table: {
      default: null,
      type: Object
    },
    tableReload: {
      default: true,
      type: Boolean
    }
  },
  watch: {
    tableReload(){
      this.reload();
    }
  },
  mounted() {
    let vm = this;
    window.dataTable.init(vm.table);
    vm.table.action.forEach(action => {
      window.$(document).on('click', `.column-${action.class}`, function (){
        vm.$emit(action.class, window.$(this).data('column'));
      });
    });
  },
  destroyed: function () {
    window.dataTable.destroy();
  },
  methods: {
    reload: function () {
      window.dataTable.reload();
    },
    newButton(e){
      e.preventDefault();
      this.$emit('new-item');
    }
  }
}

window.dataTable = function () {
  
  let table, initTable = (data) => {
    table = window.$("#data-table").mDatatable({
        data: {
          type: 'remote',
          source: {
            read: {
              method: data.hasOwnProperty("type") ? data.type : 'GET',
              url: data.url,
              map: function(raw) {

                let acc = {};
                for (const index of data.accounting) {
                  acc[index] = Accounting.formatColumn(raw.map(x => x[index]), "Rp ");
                }
                for (const key in raw) {
                  if (raw.hasOwnProperty(key)) {
                    for (const index of data.accounting) {
                      raw[key][index] = `<div class="accounting">${acc[index][key]}</div>`;
                    }
                    let actions = [];
                    if (data.hasOwnProperty('action')) {
                      data['action'].forEach(element => {
                        if (element.class != 'delete') {
                          actions.push(`<a data-column="${raw[key].id}" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill column-${element.class}" title="${element.title}"><i class="${element.icon}"></i></a>`)
                        }
                        if (element.class == 'delete') {
                          actions.push(`
                            <div class="dropdown">
                              <button class="btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" title="Hapus">
                                <i class="la la-trash"></i>
                              </button>
                              <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" onclick="return false;" data-column="${raw[key].id}" class="dropdown-item column-${element.class}">
                                  <i class="la la-check"></i> Hapus</a>
                                <a href="#" onclick="return false;" class="dropdown-item cancel">
                                  <i class="la la-remove"></i> Batal</a>
                              </div>
                            </div>
                          `)
                        }
                      });
                      raw[key]['action'] = actions.join('');
                    }
                  }
                }
                return raw;
              }
            }
          }
        },
        layout: {
            theme: "default",
            class: "",
            scroll: !1,
            footer: !1
          },
        search: {
          input: window.$("#generalSearch")
        },
        sortable: !0,
        columns: data.header,
    });
  }
  return {
    init(data) {
      initTable(data);
    },
    reload() {
      table.reload();
    },
    destroy() {
      table.destroy();
    }
  };
}();

</script>

