<template>
  <div>
    <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
      <div class="row align-items-center">
        <div class="col-xl-8 order-2 order-xl-1">
          <div class="form-group m-form__group row align-items-center">
            <div class="col-md-4">
              <div class="m-input-icon m-input-icon--left">
                <input 
                  id="generalSearch" 
                  type="text" 
                  class="form-control m-input" 
                  placeholder="Pencarian...">
                <span class="m-input-icon__icon m-input-icon__icon--left">
                  <span>
                    <i class="la la-search"></i>
                  </span>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div 
          class="col-xl-4 order-1 order-xl-2 m--align-right">
          <a
            v-if="newItem"
            class="btn btn-brand m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill"
            href="#"
            @click="$emit('create')">
            <span>
              <i class="la la-plus"></i>
              <span>
                Tambah {{ newItem }}
              </span>
            </span>
          </a>
          <div class="m-separator m-separator--dashed d-xl-none"></div>
        </div>
      </div>
    </div>
    <div :id="id"></div>
  </div>
</template>

<script>
export default {
  props: {
    id: {
      default: 'localTable',
      type: String
    },
    options: {
      type: Object,
      required: true
    },
    newItem: {
      type: [Boolean, String],
      default: ' '
    }
  },
  data(){
    return {
      table: {}
    }
  },
  watch: {
    'options.data.source'(){
      if (this.table.hasOwnProperty('destroy')) {
        this.table.destroy();
      }
      this.init();
    }
  },
  mounted(){
    const vm = this;
    for (const action of this.options.actions) {
      window.$(document).on('click', `.action-${action}`, function (){
        vm.$emit(action, window.$(this).data('action'));
      });
    }
  },
  methods: {
    init(){
      this.options.search = {
        input: window.$("#generalSearch")
      },
      this.table = window.$(`#${this.id}`).mDatatable(this.options);
    },
    destroy(){
      this.table.destroy();
    }
  }
}
</script>

