<template>
  <div>
    <table class="table table-bordered table-hover table-edit table-responsive">
      <thead class="thead-default">
        <tr>
          <th>
            Tanggal
          </th>
          <th>
            Kas
          </th>
          <th>
            Jumlah Pembayaran
          </th>
          <th style="width:33px">
          </th>
        </tr>
      </thead>
      <tbody>
        <payment-row
          v-for="(row, index) in rows"
          :row="row"
          :stocks="stocks"
          :row-key="row.rowKey"
          :index="index"
          :key="row.rowKey"
          :cashes="cashes"
          @updateitem="updateItem"
          @removerow="removeRow">
        </payment-row>
      </tbody>
    </table>
    <table class="table white">
      <thead>
        <tr>
          <th>
            
          </th>
          <th style="width:15%">
            
          </th>
          <th style="width:20%; text-align: right">
            Total:
          </th>
          <th style="width:25%">
            {{ total }}
          </th>
        </tr>
      </thead>
    </table>
    <div class="table-add">
      <button 
        type="button"
        title="Tambah Barang"
        class="btn btn-secondary m-btn m-btn--icon m-btn--icon-only"
        @click="addRow">
        <i class="la la-plus"></i>
      </button>
    </div>
  </div>
</template>

<script>

import moment from "moment";
import axios from "axios";
import Accounting from "accounting";
import PaymentRow from "./PaymentRow.vue";

export default {
  components: {
    PaymentRow
  },
  props: {
    items: {
      type: Array,
      required: true
    }
  },
  data(){
    return {
      stocks: [],
      rows: [],
      total: Accounting.formatMoney(0, 'Rp '),
      cashes: []
    }
  },
  computed: {

  },
  watch: {
    items(){
      this.rows = [];
      this.rows = this.items.map(item => ({
        rowKey: item.id,
        cash_id: item.cash_id,
        payment: item.payment,
        created_at: item.created_at,
      }))
    },
    rows(){
      if (this.rows.length == 0) {
        this.addRow();
      }
    }
  },
  created(){
    axios
    .get('/api/pengaturan/kas')
    .then(({data}) => {
      this.cashes = data;
    });
  },
  methods: {
    updateItem(item){
      const index = this.rows.findIndex((row) => row.rowKey == item.rowKey);
      if (index != -1) {
        this.rows[index] = item;
      }
      const sum = this.rows.reduce((carry, current) => (carry + current.payment), 0);
      this.total = Accounting.formatMoney(sum, 'Rp ');
      this.$emit('data', this.rows);
    },
    addRow(){
      this.rows.push({
        rowKey: Math.random().toString(36).substr(2, 5),
        cash_id: 1,
        payment: 0,
        created_at: moment().format('YYYY-MM-DD HH:mm:ss'),
      });
    },
    removeRow(rowKey){
      const index = this.rows.findIndex((row) => row.rowKey == rowKey);
      this.rows.splice(index, 1);
      this.$emit('data', this.rows);
    }
  }
}
</script>


