<template>
  <div class="m-subheader ">
    <div class="d-flex align-items-center">
      <div class="mr-auto">
        <h3 class="m-subheader__title ">
          {{ headerTitle }}
        </h3>
        <ul 
          v-if="breadcumbs.length"
          class="m-subheader__breadcrumbs m-nav m-nav--inline">
          <li class="m-nav__item m-nav__item--home">
            <router-link 
              :to="'/#'"
              class="m-nav__link m-nav__link--icon">
              <i class="m-nav__link-icon la la-home"></i>
            </router-link>
          </li>
          <template v-for="item in breadcumbs">
            <li class="m-nav__separator"> - </li>
            <li class="m-nav__item">
              <router-link
                :to="item.link"
                class="m-nav__link">
                <span class="m-nav__link-text">
                  {{ item.name }}
                </span>
              </router-link>
            </li>
          </template>

        </ul>
      </div>
      <slot></slot>
    </div>
  </div>
</template>

<script>

export default {
  props: {
    headerTitle: {
      default: '',
      type: String
    },
    breadcumbs: {
      default: () => [],
      type: Array
    }
  }
}
</script>

