<template>
  <header 
    class="m-grid__item m-header" 
    data-minimize-offset="200" 
    data-minimize-mobile-offset="200">
    <div class="m-container m-container--fluid m-container--full-height">
      <div class="m-stack m-stack--ver m-stack--desktop">
        <!-- BEGIN: Brand -->
        <div class="m-stack__item m-brand  m-brand--skin-light ">
          <div class="m-stack m-stack--ver m-stack--general">
            <div class="m-stack__item m-stack__item--middle m-brand__logo">
              <a 
                href="/" 
                class="m-brand__logo-wrapper">
                <img 
                  alt="" 
                  src="/images/logo-2.png">
              </a>
            </div>
            <div class="m-stack__item m-stack__item--middle m-brand__tools">
              <!-- BEGIN: Left Aside Minimize Toggle -->
              <a 
                id="m_aside_left_minimize_toggle" 
                href="javascript:;" 
                class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-desktop-inline-block">
                <span></span>
              </a>
              <!-- END -->
              <!-- BEGIN: Responsive Aside Left Menu Toggler -->
              <a 
                id="m_aside_left_offcanvas_toggle" 
                href="javascript:;" 
                class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-tablet-and-mobile-inline-block">
                <span></span>
              </a>
              <!-- END -->
            </div>
          </div>
        </div>
        <!-- END: Brand -->
        <!-- BEGIN: Topbar -->
        <div 
          id="m_header_nav"
          class="m-stack__item m-stack__item--fluid m-header-head">
        </div>
        <!-- END: Topbar -->
      </div>
    </div>
  </header>
</template>